target/META-INF/mule-src/dummy/src/main/mule/globalweather.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
    <http:listener-config name="globalweather-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="globalweather-config" api="resource::c714d793-958c-47a8-be33-70abb1affea8:globalweatherAPI:1.0.1:raml:zip:globalweather.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="c133efe3-58cc-4f5d-8026-1946f0ff69c2" >
		<wsc:connection wsdlLocation="global-weather.wsdl" service="GlobalWeather" port="GlobalWeatherSoap" address="http://localhost:8080/GlobalWeather" />
	</wsc:config>
	<flow name="globalweather-main">
        <http:listener config-ref="globalweather-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="globalweather-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="globalweather-console">
        <http:listener config-ref="globalweather-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="globalweather-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\GetCitiesByCountry:globalweather-config">
		<set-variable value="attributes.queryParams.CountryName" doc:name="Set country name" doc:id="40e079cc-bc91-4e39-8f4a-d057e005a39a" variableName="CountryName" />
		<ee:transform doc:name="Assign variables" doc:id="02cd3544-dcf6-44d9-9764-0abe029fa472">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetCitiesByCountry: {
		ns0#CountryName: vars.CountryName
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetCitiesByCountry" doc:name="Consume request" doc:id="7b79d373-0398-44c7-8d83-f0437a9a40c0" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Convert into XML without namespace" doc:id="b4a69fbd-c85b-4bbf-84fe-d15d4f11d44a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
root: payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Fetch CData from XML" doc:id="64e5d0a2-21fa-4f11-b322-f99382f8e48a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import java!globalWeatherRestAPI::CData
input payload application/xml
output application/json
---
CData::fetchCData(write(payload.root.body,"application/json"))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Convert String response to JSON" doc:id="fc51f85e-2b33-405e-aa9a-7d3798c45b23">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

---
read(payload,"application/xml")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Grouping the response" doc:id="6da69283-7128-41b5-ad56-9fde29da64be">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---(payload.NewDataSet.*Table groupBy $.Country pluck $ map (data,index) ->
{
	Country: data.Country[0],
	Cities : data.City 	
})[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log the response" doc:id="5d84d476-10df-4c30-b127-d79b8a41cf93" message="#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="bcd7b64b-d670-4502-ae79-c55533e1dfb8" type="WSC:BAD_REQUEST" >
				<logger level="INFO" doc:name="Error Logger" doc:id="090cf525-384c-4f46-b8b2-ceaf655068f8" message="The API call has failed due to #[error.description]. More details below. #[error.detailedDescription]" />
				<ee:transform doc:name="Error Response Message" doc:id="50da2b19-a47d-47b9-88c1-3978faf77e1d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" :400,
	"error" : "Bad request"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e8fe48c1-a470-41f3-9e4c-577762bcef5b" type="ANY" >
				<logger level="INFO" doc:name="Error Logger" doc:id="56cd9cf1-969d-4c4b-9cfb-710d4f8db41a" message="The API call has failed due to #[error.description]. More details below. #[error.detailedDescription]" />
				<ee:transform doc:name="Error Response Message" doc:id="65e7a117-4a05-4269-adcb-4cffa3d97418" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : 500,
	"error" : "Internal server error"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\GetWeather:globalweather-config">
		<set-variable value="attributes.queryParams.CityName" doc:name="Set city name" doc:id="029a4d98-f1ba-4ff2-8cb3-03d460a6df28" variableName="CityName" />
		<set-variable value="attributes.queryParams.CountryName" doc:name="Set country name" doc:id="08d4e723-faa2-4dc5-8a33-577a29c06a28" variableName="CountryName" />
		<ee:transform doc:name="Assign variables" doc:id="92b26729-8bef-49a6-a563-a52e578cca2c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetWeather: {
		ns0#CityName: vars.CityName,
		ns0#CountryName: vars.CountryName
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetWeather" doc:name="Consume request" doc:id="c75f4e5b-8121-4175-b200-eab419d85ed6" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Convert into XML without namespace" doc:id="577cd1ce-50ed-4e25-8725-53dcde37fff1">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
root: payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Fetch CData from XML" doc:id="0708a866-0f63-4e53-b503-0e23186df01c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import java!globalWeatherRestAPI::CData
input payload application/xml
output application/json
---
CData::fetchCData(write(payload.root.body,"application/json"))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Convert String response to JSON" doc:id="737e4c1e-dc3d-46a5-a54b-36bdad941d3e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

---
read(payload,"application/xml")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Format response JSON" doc:id="f733c837-aaf9-4641-a4dd-4ddea352e050">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.NewDataSet]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log the response" doc:id="afb9a046-ce36-4e1c-875c-e01857a3a971" message="#[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1959455a-37d8-42cc-bcc1-07e51811e572" type="WSC:BAD_REQUEST">
				<logger level="INFO" doc:name="Error Logger" doc:id="32b9569a-656a-434d-962b-783049343da8" message="The API call has failed due to #[error.description]. More details below. #[error.detailedDescription]"/>
				<ee:transform doc:name="Error Response Message" doc:id="dfbe86e8-3b43-44d1-bdb5-08e8249d0c1b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" :400,
	"error" : "Bad request"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="340913cf-7297-42a6-a8cf-3ade1550c59e" type="ANY">
				<logger level="INFO" doc:name="Error Logger" doc:id="9a6a55f4-a254-4c7e-8355-25b09e793ddc" message="The API call has failed due to #[error.description]. More details below. #[error.detailedDescription]" />
				<ee:transform doc:name="Error Response Message" doc:id="45bff6cb-d56e-4b5d-8585-14645f403aaa" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : 500,
	"error" : "Internal server error"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
</mule>
